[submodule "dune-common"]
	path = dune-common
	url = http://git.dune-project.org/repositories/dune-common
[submodule "dune-pymor"]
	path = dune-pymor
	url = https://github.com/pyMor/dune-pymor.git
[submodule "local/bin"]
	path = local/bin
	url = http://users.dune-project.org/repositories/projects/dune-demos-bin.git
[submodule "pyMor"]
	path = pyMor
	url = https://github.com/pyMor/pyMor.git
