[submodule "dune-common"]
	path = dune-common
	url = http://git.dune-project.org/repositories/dune-common
        ignore = dirty
[submodule "dune-pymor"]
	path = dune-pymor
	url = https://github.com/pymor/dune-pymor.git
        ignore = untracked
[submodule "local/bin"]
	path = local/bin
	url = http://users.dune-project.org/repositories/projects/dune-demos-bin.git
        ignore = untracked
[submodule "dune-stuff"]
	path = dune-stuff
	url = https://github.com/wwu-numerik/dune-stuff
        ignore = untracked
[submodule "dune-geometry"]
	path = dune-geometry
	url = http://git.dune-project.org/repositories/dune-geometry
        ignore = dirty
[submodule "pymor"]
	path = pymor
	url = https://github.com/pymor/pymor.git
        ignore = untracked
[submodule "scripts"]
	path = scripts
	url = https://github.com/wwu-numerik/scripts.git
[submodule "config.opts"]
	path = config.opts
	url = http://users.dune-project.org/repositories/projects/dune-config-opts.git
[submodule "dune-python"]
	path = dune-python
	url = https://gitlab.dune-project.org/quality/dune-python.git
