# This file is part of the dune-pymor-demos project:
#   https://github.com/pyMor/dune-pymor-demos
# Copyright Holders: Felix Albrecht, Stephan Rave
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)

# available constants:
# CC, CXX, F77, CXXFLAGS, BASEDIR, SRCDIR
# all commands are executed in $BASEDIR/demos
# do not use ',' in any of the 'build' commands!

[example_stationary_linear]
build='. $BASEDIR/local/bin/activate && cmake ../dune-pymor',
  '. $BASEDIR/local/bin/activate && make example_stationary_linear'
msg='cd $BASEDIR/demos/examples && ./example_stationary_linear'
