# This file is part of the dune-hdd-demos project:
#   http://users.dune-project.org/projects/dune-hdd-demos
# Copyright holders: Felix Albrecht
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)

# available constants:
# CC, CXX, F77, CXXFLAGS, BASEDIR, SRCDIR
# all commands are executed in $SRCDIR/$NAME
# do not use ',' in any of the 'build' commands!

[eigen]
src=http://bitbucket.org/eigen/eigen/get/3.2.0.tar.gz
build='mkdir build',
  'rm -rf build/*',
  'cd build && cmake .. -DCMAKE_INSTALL_PREFIX=$BASEDIR/local -DCMAKE_CXX_COMPILER=$CXX',
  'cd build && make',
  'cd build && make install'

[gccxml]
git=git://github.com/gccxml/gccxml.git
build='mkdir build && cd build && cmake .. -DCMAKE_INSTALL_PREFIX:PATH=$BASEDIR/local',
    'cd build && make',
    'cd build && make install'

[virtualenv]
only_build=True
build='cd $BASEDIR/pyMor && ./install.py --only-deps --virtualenv-dir=$BASEDIR/virtualenv',
   'echo "$BASEDIR/dune-pymor" >> $BASEDIR/virtualenv/lib/python2.7/site-packages/dune-pymor.pth'

[pybindgen]
src=http://pybindgen.googlecode.com/files/pybindgen-0.16.0.tar.bz2
build='. $BASEDIR/virtualenv/bin/activate && ./waf configure --prefix=$BASEDIR/virtualenv/',
    '. $BASEDIR/virtualenv/bin/activate && ./waf build',
    '. $BASEDIR/virtualenv/bin/activate && ./waf install'
