# This file is part of the dune-hdd-demos project:
#   http://users.dune-project.org/projects/dune-hdd-demos
# Copyright holders: Stephan Rave, Felix Schindler
# License: BSD 2-Clause License (http://opensource.org/licenses/BSD-2-Clause)

# available constants:
# CC, CXX, F77, CXXFLAGS, BASEDIR, SRCDIR
# all commands are executed in $SRCDIR/$NAME

[eigen]
src=http://bitbucket.org/eigen/eigen/get/3.2.4.tar.gz
build='mkdir -p build'
      'rm -rf build/*'
      'cd build && cmake .. -Wno-dev -DCMAKE_INSTALL_PREFIX=$BASEDIR/local -DCMAKE_CXX_COMPILER=$CXX'
      'cd build && make'
      'cd build && make install'

[virtualenv]
only_build=True
build='cd $BASEDIR && virtualenv --python=python2.7 virtualenv'
      '. $BASEDIR/virtualenv/bin/activate && pip install --upgrade distribute'
      '. $BASEDIR/virtualenv/bin/activate && for ii in cython==0.21 numpy==1.9.0 scipy==0.14.0 ipython==2.3.0 ipdb==0.8 matplotlib==1.4.0 pytest==2.6.3 pytest-cache==1.0 pytest-capturelog==0.7 pyzmq==14.3.1 pyamg==2.1.0 pyyaml==3.11 sh==1.09 ; do pip install --upgrade $ii ; done'
      'echo "$BASEDIR/pymor/src" >> $BASEDIR/virtualenv/lib/python2.7/site-packages/pymor.pth'
      'echo "$BASEDIR/dune-pymor" >> $BASEDIR/virtualenv/lib/python2.7/site-packages/dune-pymor.pth'
      '. $BASEDIR/virtualenv/bin/activate && cd $BASEDIR/pymor && python setup.py build_ext --inplace'

[pybindgen]
src=http://pybindgen.googlecode.com/files/pybindgen-0.16.0.tar.bz2
build='. $BASEDIR/virtualenv/bin/activate && ./waf configure  --disable-pygccxml --prefix=$BASEDIR/virtualenv/'
      '. $BASEDIR/virtualenv/bin/activate && ./waf build'
      '. $BASEDIR/virtualenv/bin/activate && ./waf install'
